header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}
header .navlink{
    display: flex;
    align-items: center;
    gap: 15px;
}
header .navlink a{
    text-decoration: none;
}
.input{
    display:flex;
    align-items: center;
    gap: 20px;
}
.inputt{
     padding: 10px 20px;
    border-radius: 4px;
    border: none;
    border: 1px solid darkcyan;
}
.btn-header{
    background-color: rgb(231, 14, 14);
}
.btn-header:hover{
    background-color: red;
}
header .navlink a.active{
    color: darkcyan;
    list-style: none;
}
.heart{
    width:28px;
    height: 28px;
    position: absolute;
    z-index: 1;
    left: 70px;
}
.newsflex{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}
.newsp{
    position: absolute;
    z-index: 2;
    left: 80px;
}